/**
 * Default stylesheet for Kinyarwanda.net
 */
 
/**
 * Page structure 
 */
 
html, body, form, img {
	padding: 0;
	margin: 0;
	border: 0;
}

body, html { /* Sticky footer from http://www.cssstickyfooter.com */
	height: 100%;	
}

#wrap {min-height: 100%;}

#content {
	overflow: auto; 
	padding-bottom: 40px;  /* must be same height as the footer */
}

#footer {
	position: relative;
	margin-top: -40px; /* negative value of footer height */
	clear:both;
} 

#gutter, #footer {
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 10px;
	background-color: #F2F2F2;
}

body:before { /* Opera Fix */
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

#banner {
	background-image: url('vshadow.png');
	background-repeat: repeat-x;
}

#banner h1 {
	text-indent: -9999px;
	margin: auto;
	width: 400px;
	height: 100px;
	background-image: url('banner.png');
}

#searchbar {
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 10px;
	background-color: #63ca93;
}

#searchbar form {
	text-align: center;
}

#searchbar input#query {
	border: 0;
	padding: 5px;
	background-image: url('vshadow.png');
	background-repeat: repeat-x;
}

#searchbar input#searchbtn {
	padding: 5px;
}

#info, #pager {
	background-color: #ffe3b9;
	color: #5f5240;
}

#info {
	padding: 5px 10px 5px 10px;
	overflow: hidden;
}

#pager {
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 10px;
}

#page {
	margin: 0;
	padding: 10px 20px 10px 20px;
	background-image: url('vshadow.png');
	background-repeat: repeat-x;
}

#gutter a, #footer a {
	color: #6384a7;
	text-decoration: none;
	font-weight: bold;
}

/**
 * Common elements 
 */
 
* {
	font-family: Georgia, Bookman;
	font-size: 14px;
}

h2 {
	font-size: 18px;
	margin: 10px 0 10px 0;
}

h3 {
	font-size: 16px;
}

/**
 * Main menu
 */

ul#mainmenu {
	list-style: none;
	padding: 5px 0 5px 0;
	margin: 0;
	text-align: center;
}

ul#mainmenu li {
	display: inline;
	margin: 0;
	padding: 5px 10px 5px 10px;
}

ul#mainmenu li a {
	text-decoration: none;
	font-size: 16px;
	color: #23995a;
	font-weight: bold;
}

ul#mainmenu li a.active {
	color: #353;
}

/**
 *
 */

.msgerror {
	color: #A66;
	font-weight: bold;
}

.msginfo {
	color: #6A6;
	font-weight: bold;
}

.button {
	border: solid 1px #BBB;
	padding: 3px;
	margin: 2px;
	background-color: #ddd;
	display: inline-block;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/**
 * Results formatting 
 */

ul#results {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.definition {
	margin: 0;
	padding: 10px 0px 10px 0px;
	color: #666;
}

.prefix {
	color: #339;
	font-weight: bold;
}

.lemma {
	color: #262;
	font-weight: bold;
}

.modifier {
	color: #339;
	font-weight: bold;
}

.wordclass, .nounclass, .flag {
	color: black;
	padding: 0 3px 0 3px;
	text-decoration: none;
	font-size: 12px;
}

.wordclass {
	background-color: #DDD;
}

.nounclass {
	background-color: #CCE;
}

.flag {
	background-color: #CEC;	
}

.meaning {
	color: black;
	font-style: italic;
}

.comment {
	font-style: italic;
}

.query {
	font-weight: bold;
}

.link {
	border-bottom: dotted 1px #999;
	text-decoration: none;
}

.clickable:hover {
	background-color: #eee;
	cursor: pointer;
}

.reference {
	color: #262;
}

.examplelist {
	margin: 0px;
	font-size: smaller;
}

.exampleform {
	color: #994;
	font-weight: bold;
}

.examplemeaning {
	font-style: italic;
	color: #666;
}

*:lang(rw) {
	color: #262;
}

a:lang(rw) {
	font-weight: bold;
}

/**
 * Page tables
 */

table.stats {
	width: 100%;
	font-size: smaller;
}

table.stats th {
	border-top: solid 1px #CC8;
	background-color: #FFC;
}

table.stats td {
	border-top: solid 1px #EEE;
}

table.grammar {
	width: 100%;
	border-collapse:collapse;
}

table.grammar th {
	background-color: #ffe3b9;
}

table.grammar td, table.grammar th {
	border: 1px solid #ffe3b9;
	padding: 2px;
}

table.grammar th.group {
	background-color: #EEE;
	font-style: italic;
	text-align: left;
}

.widget-tagstats {
	width: 90%;
}

.widget-tagstats td {
	text-align: center;
	border-top: solid 1px #EEE;
}
